@font-face {
  font-family: star;
  src: url("/resources/Starbirl.otf");
}

@-moz-keyframes spin
{
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform:rotate(360deg);
  }
}

* {
  letter-spacing: 3px;
  font-weight: normal;
  font-family: star;
}


html, body {
    margin: 0;
    height: 100%;
}

html {
  min-height: 100%;
}

.main {
  min-height: 100%;
  text-align: center;
  background-image: url("/resources/bgtile.png");
  background-repeat: repeat;
}

.banner {
  z-index: 1;
  color: #ff8533;
  max-height: 10%;
  width: 100%;
  background-color: #202020;
  padding-left: 0%;
  text-align: left;
  font-size: 200%;
  overflow: hidden;
  box-shadow: 0px 10px 10px grey;
}

a:link{
  color: #f2f2f2;
  text-decoration: none;
}

a:visited{
  color: #f2f2f2;
  text-decoration: none;
}

a:hover {
  color: #00f000;
  text-decoration: none;
}

.image-thingo {
  z-index: 0;
  margin-top: 5%;
  margin-bottom: 5%;
  -webkit-animation:spin 16s linear infinite;
  -moz-animation:spin 16s linear infinite;
  animation:spin 16s linear infinite;
}

.statistics {
  z-index: 1;
  color: #ff8533;
  padding: 2%;
  box-shadow: 0px -10px 10px grey;
  background-color: #202020;
  height: 100%;
  font-size: 2em;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #ff8533;
  text-align: left;
  padding: 8px;
}
